///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;
$brown: #80401a;

///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1320px;
$screen-xlg: 1320px;

///********************///
///*       Fonts      *///
///********************///

$primary-font: SpeedeeK, Helvetica, "malgun gothic", "Apple SD Gothic Neo",
  "Microsoft NeoGothic", "Droid sans", sans-serif;
$speedee: SpeedeeK, sans-serif;
$thin-font: "NanumSquareRound", Helvetica, "malgun gothic",
  "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
$bold-font: "NanumSquareRoundB", Helvetica, "malgun gothic",
  "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
