@charset "utf-8";
.blind {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-size-adjust: none;
}

body {
    &.layer-opens {
        overflow: hidden;
        // font-weight: bold;
    }
}




